html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  @extend %inter-400;
  color: var(--bg);
  font-size: 16px;
  line-height: 1.75;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %sen-700;
  letter-spacing: -2px;
  line-height: 1.33;
}

button {
  &:active,
  &:focus {
    outline: transparent;
    cursor: pointer;
  }
}

// ! Скрывает заголовки и т.д. для СЕО
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 32px;

    a {
      color: var(--white);
      transition: color 0.5s ease;

      &:hover {
        color: var(--accent);
      }
    }
  }
}

.form {
  display: flex;

  &__input,
  &__btn {
    padding: 10px 20px;
    font-weight: 400;
    border: none;
    font-size: 16px;

    &::placeholder {
      color: var(--bg);
      font-size: 16px;
      opacity: 0.6;
    }
  }

  &__input {
    width: 200px;

    &--footer {
      width: 320px;
      margin-right: 24px;
      padding: 14px 20px;
      background-color: transparent;
      border: var(--border);
      color: var(--white);

      &::placeholder {
        color: var(--border-color);
      }
    }
  }

  &__btn {
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;

    &--footer {
      width: 180px;
      background-color: var(--accent);
      transition: background-color 0.5s ease;

      &:hover {
        background-color: var(--accent-hover);
      }
    }
  }
}

.socials-box {
  &__list {
    display: flex;
    gap: 27px;
  }

  &__svg {
    fill: var(--svg-footer);
    transition: fill 0.5s ease;

    &:hover {
      fill: var(--white);
    }
  }

  &--authors {
    width: 112px;
    margin: 0 auto;

    ul {
      gap: 16px;

      li {
        a {
          svg {
            fill: var(--bg);
            transition: fill 0.5s ease;

            &:hover {
              fill: var(--accent);
            }
          }
        }
      }
    }
  }
}

.button {
  display: inline-block;
  padding: 16px 48px;
  background-color: var(--accent);
  color: var(--bg);
  font-size: 18px;
  font-family: var(--sen700);
  font-weight: 700;
  transition:
    background-color 0.5s,
    color 0.5s ease;

  &:hover {
    background-color: var(--accent-hover);
    color: var(--bg);
  }
}

.slick-arrow {
  font-size: 0;
  width: 62px;
  height: 62px;
  background-color: var(--bg);
  border: none;
  border-radius: 50%;
  padding: 12px;
  transition: all 0.5s ease;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.slick-arrow.slick-disabled {
  width: 48px;
  height: 48px;
  opacity: 0.7;
  cursor: default;
}

.slick-arrow.slick-prev.slick-disabled {
  bottom: 8px;
}

.slick-arrow.slick-next.slick-disabled {
  bottom: 8px;
}

.slick-prev {
  right: 80px;
  z-index: 5;
}

.slick-dots {
  display: flex;
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);

  li {
    margin-right: 20px;
  }

  button {
    width: 10px;
    height: 10px;
    font-size: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--accent);
    background-color: transparent;
    transition: background-color 0.5s ease;
  }

  .slick-active {
    button {
      background-color: var(--accent);
    }
  }
}

.decor {
  display: block;
  width: 82%;
  height: 23px;
  background: linear-gradient(to right, var(--accent) 74%, var(--purple) 26%);
  margin-left: auto;
}

.meta {
  margin-bottom: 16px;

  &__author {
    color: var(--accent);
    transition: color 0.5s ease;

    &:hover {
      color: var(--accent-hover);
    }
  }

  &--blog {
    .meta__author {
      color: var(--purple);
    }
  }
}
