// ! Объявление CSS переменных
:root {
  --accent: #ffd050;
  --purple: #592ea9;
  --bg: #232536;
  --bg-light: rgba(255, 255, 255, 0.05);
  --dark-grey: #4c4c4c;
  --medium-grey: #6d6e76;
  --light-grey: #f4f4f4;
  --lavender: #f4f0f8;
  --yellow-light: #fbf6ea;
  --accent-hover: #edc14a;
  --white: #fff;
  --border: 1px solid #4c4c4c;
  --border-color: #6d6e76;
  --border-light: #f1f1f2;
  --svg-footer: #6d6e76;
  --inter400: @extend %inter-400;
  --inter500: @extend %inter-500;
  --inter700: @extend %inter-700;
  --inter900: @extend %inter-900;
  --sen400: @extend sen-400;
  --sen500: @extend sen-500;
  --sen700: @extend sen-700;
}
// ! Использование CSS переменных
.link__example {
  color: var(--accent);
}

// ! Миксин для fancybox(video-popup), предотвращает ошибку gulp
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

// ! Миксин для ограничения строк текста
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
// ! Использование миксина, вставляем непосредственно в тот селектор в котором хотим ограничить количество строк
.class__example {
  @include line-clamp(3);
}

// ! Шаблон для скрытия checkbox и radio buttons
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
// ! Использование шаблона
.checkbox__example {
  @extend %checkbox-hidden;
}

.radio__example {
  @extend %radio-hidden;
}

// ! Шаблон для Шрифта
%sen-400 {
  font-family: "Sen-Regular", sans-serif;
  font-weight: 400;
}

%sen-500 {
  font-family: "Sen-Medium", sans-serif;
  font-weight: 500;
}

%sen-700 {
  font-family: "Sen-Bold", sans-serif;
  font-weight: 700;
}

%inter-400 {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
}

%inter-500 {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}

%inter-600 {
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
}

%inter-700 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}

%inter-900 {
  font-family: "Inter-Black", sans-serif;
  font-weight: 900;
}
// ! Использование шаблона
// @extend %font-name-400;
