.header {
  background-color: var(--bg);
  padding: 12px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    display: flex;
    align-items: center;
  }
}
