<section class="about">
  <div class="container">
    <span class="decor"></span>
    <div class="about__inner">
      <div class="about__content">
        <div class="about__under-title">ABOUT US</div>
        <h2 class="about__title title">We are a community of content writers who share their learnings</h2>
        <div class="about__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua.
          </p>
        </div>
        <a href="" class="about__btn">Read More ></a>
      </div>

      <div class="about__content">
        <div class="about__under-title">Our mision</div>
        <h3 class="about__title about__mission-title title">Creating valuable content for creatives all around the world
        </h3>
        <div class="about__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>