<section class="all-posts">
  <div class="container">
    <h2 class="all-posts__title title">All posts</h2>

    <ul class="all-posts__items">
      <li class="all-posts__item">
        <a class="all-posts__link" href="#">
          <img class="all-posts__img" src="images/result/blog/post-1.jpg" alt="post">

          <div class="all-posts__content">
            <span class="all-posts__undertitle">Startup</span>
            <h3 class="all-posts__item-title title">Design tips for designers that cover everything you need</h3>
            <div class="all-posts__text">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="all-posts__item">
        <a class="all-posts__link" href="#">
          <img class="all-posts__img" src="images/result/blog/post-2.jpg" alt="post">

          <div class="all-posts__content">
            <span class="all-posts__undertitle">ECONOMY</span>
            <h3 class="all-posts__item-title title">How to build rapport with your web design clients</h3>
            <div class="all-posts__text">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="all-posts__item">
        <a class="all-posts__link" href="#">
          <img class="all-posts__img" src="images/result/blog/post-3.jpg" alt="post">

          <div class="all-posts__content">
            <span class="all-posts__undertitle">BUSINESS</span>
            <h3 class="all-posts__item-title title">How to build rapport with your web design clients</h3>
            <div class="all-posts__text">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="all-posts__item">
        <a class="all-posts__link" href="#">
          <img class="all-posts__img" src="images/result/blog/post-4.jpg" alt="post">

          <div class="all-posts__content">
            <span class="all-posts__undertitle">Startup</span>
            <h3 class="all-posts__item-title title">Logo design trends to avoid in 2022</h3>
            <div class="all-posts__text">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="all-posts__item">
        <a class="all-posts__link" href="#">
          <img class="all-posts__img" src="images/result/blog/post-5.jpg" alt="post">

          <div class="all-posts__content">
            <span class="all-posts__undertitle">TECHNOLOGY</span>
            <h3 class="all-posts__item-title title">8 Figma design systems you can download for free today</h3>
            <div class="all-posts__text">
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <ul class="all-posts__nav">
      <li class="all-posts__nav-item">
        <button class="all-posts__route all-posts__route--prev" type="button">
          <svg class='all-posts__svg all-posts__svg--prev' width='' height=''>
            <use xlink:href='images/result/sprite/sprite.svg#arro-prev'></use>
          </svg>
          Prev
        </button>
      </li>
      <li class="all-posts__nav-item">
        <button class="all-posts__route all-posts__route--next" type="button">
          Next
          <svg class='all-posts__svg all-posts__svg--next' width='' height=''>
            <use xlink:href='images/result/sprite/sprite.svg#arrow-right'></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>