<section class="blog">
  <div class="container">
    <div class="blog__inner">
      <div class="blog__featured">
        <h2 class="blog__title title">Featured Post</h2>

        <article class="blog__featured-article">
          <img class="blog__featured-img" src="images/result/blog/blog-1.jpg" alt="Blog-1">

          <div class="blog__meta">
            By
            <a class="blog__meta-author" href="#">John Doe</a>
            |
            <span class="blog__date">May 23, 2022</span>
          </div>

          <h3 class="blog__post-title title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          </h3>

          <div class="blog__text">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint
              occaecat cupidatat non proident.
            </p>
          </div>

          <a class="blog__btn button" href="#">Read More ></a>
        </article>
      </div>

      <div class="blog__posts">
        <div class="blog__posts-top">
          <h2 class="blog__title title">All Posts</h2>
          <a class="blog__top-link" href="#">View All</a>
        </div>
        <ul class="blog__posts-items">
          <li class="blog__posts-item">
            <div class="blog__meta blog__posts-meta">
              By
              <a class="blog__meta-author" href="#">John Doe</a>
              |
              <span class="blog__date">May 23, 2022</span>
            </div>

            <a class="blog__posts-link" href="#">
              <h4 class="blog__posts-title">
                8 Figma design systems that you can download for free today.
              </h4>
            </a>
          </li>
          <li class="blog__posts-item">
            <div class="blog__meta blog__posts-meta">
              By
              <a class="blog__meta-author" href="#">John Doe</a>
              |
              <span class="blog__date">May 23, 2022</span>
            </div>

            <a class="blog__posts-link" href="#">
              <h4 class="blog__posts-title">
                8 Figma design systems that you can download for free today.
              </h4>
            </a>
          </li>
          <li class="blog__posts-item">
            <div class="blog__meta blog__posts-meta">
              By
              <a class="blog__meta-author" href="#">John Doe</a>
              |
              <span class="blog__date">May 23, 2022</span>
            </div>

            <a class="blog__posts-link" href="#">
              <h4 class="blog__posts-title">
                8 Figma design systems that you can download for free today.
              </h4>
            </a>
          </li>
          <li class="blog__posts-item">
            <div class="blog__meta blog__posts-meta">
              By
              <a class="blog__meta-author" href="#">John Doe</a>
              |
              <span class="blog__date">May 23, 2022</span>
            </div>

            <a class="blog__posts-link" href="#">
              <h4 class="blog__posts-title">
                8 Figma design systems that you can download for free today.
              </h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>