<section class="category">
  <div class="container">
    <h2 class="category__title title">Choose A Category</h2>
    <ul class="category__items">
      <li class="category__item">
        <a class="category__link" href="#">
          <h3 class="category__item-title category__item-title--business title">Business</h3>
          <div class="category__item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>
          </div>
        </a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">
          <h3 class="category__item-title category__item-title--startup title">Startup</h3>
          <div class="category__item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>
          </div>
        </a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">
          <h3 class="category__item-title category__item-title--economy title">Economy</h3>
          <div class="category__item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>
          </div>
        </a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">
          <h3 class="category__item-title category__item-title--technology title">Technology</h3>
          <div class="category__item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>