<div class="featured">
  <div class="container">
    <ul class="featured__items">
      <li class="featured__item">
        <span class="featured__span">We are</span>
        <h4 class="featured__title title">Featured in</h4>
      </li>
      <li class="featured__item">
        <img class="featured__img" src="images/result/featured/featured-1.png" alt="featured image">
      </li>
      <li class="featured__item">
        <img class="featured__img" src="images/result/featured/featured-2.png" alt="featured image">
      </li>
      <li class="featured__item">
        <img class="featured__img" src="images/result/featured/featured-3.png" alt="featured image">
      </li>
      <li class="featured__item">
        <img class="featured__img" src="images/result/featured/featured-4.png" alt="featured image">
      </li>
      <li class="featured__item">
        <img class="featured__img" src="images/result/featured/featured-5.png" alt="featured image">
      </li>
    </ul>
  </div>
</div>