<div class="container">
  <div class="footer__wrap">
    <div class="footer__top">
      <div class="logo">
        <a class="logo__link" href="#">
          <img class="logo__img" src="images/result/logo.png" alt="logo">
        </a>
      </div>

      <nav class="menu">
        <ul class="menu__list">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer__content">
      <h4 class="footer__title title">
        Subscribe to our news letter to get latest updates and news
      </h4>

      <form class="form form--footer">
        <input class="form__input form__input--footer" type="text" placeholder="Enter Your Email">
        <input class="form__btn form__btn--footer" type="submit" value="Subscribe">
      </form>
    </div>

    <div class="footer__bottom">
      <div class="footer__contact">
        <address class="footer__address">
          Finstreet 118 2561 Fintown
        </address>
        <div class="footer__contact-box">
          <a class="footer__contact-link" href="mailto:Hello@finsweet.com">Hello@finsweet.com</a>
          <a class="footer__contact-link" href="tel:02079932905">020 7993 2905</a>
        </div>
      </div>

      <div class="socials-box">
        <ul class="socials-box__list">
          <li class="socials-box__item">
            <a href="#" class="socials-box__link">
              <svg class='socials-box__svg' width='16' height='16'>
                <use xlink:href='images/result/sprite/sprite.svg#facebook'></use>
              </svg>
            </a>
          </li>
          <li class="socials-box__item">
            <a href="#" class="socials-box__link">
              <svg class='socials-box__svg' width='16' height='16'>
                <use xlink:href='images/result/sprite/sprite.svg#twitter'></use>
              </svg>
            </a>
          </li>
          <li class="socials-box__item">
            <a href="#" class="socials-box__link">
              <svg class='socials-box__svg' width='16' height='16'>
                <use xlink:href='images/result/sprite/sprite.svg#instagram'></use>
              </svg>
            </a>
          </li>
          <li class="socials-box__item">
            <a href="#" class="socials-box__link">
              <svg class='socials-box__svg' width='16' height='16'>
                <use xlink:href='images/result/sprite/sprite.svg#linkedin'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>