<div class="container">
  <div class="header__content">
    <div class="logo">
      <a class="logo__link" href="#">
        <img class="logo__img" src="images/result/logo.png" alt="logo">
      </a>
    </div>

    <div class="header__box">
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">Home</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">Blog</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">About Us</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">Contact us</a>
          </li>
        </ul>
      </nav>

      <form action="" class="header__form">
        <input class="header__input" type="text" placeholder="Subscribe">
      </form>
    </div>
  </div>
</div>