<div class="container">
  <div class="header__content">
    <div class="logo">
      <a class="logo__link" href="#">
        <img class="logo__img" src="images/result/logo.png" alt="logo">
      </a>
    </div>

    <div class="header__box">
      <nav class="nav">
        <ul class="menu">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
        </ul>
      </nav>

      <form class="form">
        <input class="form__input" type="text" placeholder="Enter Your Email">
        <input class="form__btn" type="submit" value="Subscribe">
      </form>
    </div>
  </div>
</div>