<div class="container">
  <div class="header__content">
    <div class="logo">
      <a class="logo__link" href="index.html">
        <img class="logo__img" src="images/result/logo.png" alt="logo">
      </a>
    </div>

    <div class="header__box">
      <nav class="menu">
        <button class="mobile-button" type="button">
          <span></span>
        </button>

        <ul class="menu__list">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="blog-page.html">Blog</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
        </ul>
      </nav>

      <form class="form form--header">
        <input class="form__input" type="text" placeholder="Enter Your Email">
        <input class="form__btn" type="submit" value="Subscribe">
      </form>
    </div>
  </div>
</div>