<section class="reviews">
  <div class="container">
    <div class="reviews__inner">
      <div class="reviews__title-box">
        <div class="reviews__under-title">TESTIMONIALs</div>
        <div class="reviews__title title">What people say about our blog</div>
        <div class="reviews__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          </p>
        </div>
      </div>

      <div class="reviews__content">
        <ul class="reviews__items">
          <li class="reviews__item">
            <div class="reviews__item-box">
              <div class="reviews__content-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna
                  aliqua.
                </p>
              </div>

              <div class="reviews__author">
                <img class="reviews__img" src="images/result/reviews/reviews.png" alt="author">

                <div class="reviews__author-info">
                  <h4 class="reviews__author-name title">Jonathan Vallem</h4>
                  <span class="reviews__author-location">New york, USA</span>
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__item">
            <div class="reviews__item-box">
              <div class="reviews__content-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna
                  aliqua.
                </p>
              </div>

              <div class="reviews__author">
                <img class="reviews__img" src="images/result/reviews/reviews.png" alt="author">

                <div class="reviews__author-info">
                  <h4 class="reviews__author-name title">Jonathan Vallem</h4>
                  <span class="reviews__author-location">New york, USA</span>
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__item">
            <div class="reviews__item-box">
              <div class="reviews__content-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna
                  aliqua.
                </p>
              </div>

              <div class="reviews__author">
                <img class="reviews__img" src="images/result/reviews/reviews.png" alt="author">

                <div class="reviews__author-info">
                  <h4 class="reviews__author-name title">Jonathan Vallem</h4>
                  <span class="reviews__author-location">New york, USA</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>