<section class="startup">
  <div class="container">
    <div class="startup__inner" style="background-image: url(../images/result/startup/startup.jpg);">
      <div class="startup__content">
        <div class="startup__undertitle">Why we started</div>
        <h2 class="startup__title title">It started out as a simple idea and evolved into our passion</h2>
        <div class="startup__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          </p>
        </div>
        <a class="startup__btn button" href="#">Discover our story ></a>
      </div>
    </div>
  </div>
</section>