<section class="blog-top">
  <div class="container">
    <div class="blog-top__inner">
      <div class="blog-top__content">
        <span class="blog-top__undertitle">Featured Post</span>
        <h2 class="blog-top__title title">Step-by-step guide to choosing great font pairs</h2>
        <div class="meta meta--blog">
          By
          <a class="meta__author" href="#">James West</a>
          |
          <span class="meta__date">May 23, 2022</span>
        </div>
        <div class="blog-top__text">
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint
            occaecat cupidatat non proident.
          </p>
        </div>
        <a class="blog-top__btn button" href="#">Read More ></a>
      </div>

      <img class="blog-top__img" src="images/result/blog-top/blog-top.jpg" alt="blog-top">
    </div>
  </div>
</section>