<section class="top-screen" style="background-image: url(images/result/top-screen/top-screen-bg.jpg);">
  <div class="container">
    <div class="top-screen__content">
      <div class="top-screen__top-text">
        <p>
          Posted on <span>startup</span>
        </p>
      </div>

      <h1 class="top-screen__title title">
        Step-by-step guide to choosing great font pairs
      </h1>

      <div class="meta">
        By
        <a class="meta__author" href="#">James West</a>
        |
        <span class="meta__date">May 23, 2022</span>
      </div>

      <div class="top-screen__text">
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint
          occaecat cupidatat non proident.
        </p>
      </div>

      <a class="top-screen__btn button" href="#">Read More ></a>
    </div>
  </div>
</section>